<footer>
  <!-- Footer bar fixed at the bottom of the page -->
  <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
    
    <!-- Centered copyright text -->
    <h6 class="navbar-text text-center mb-0">
      &copy; Copyright 2025. All rights reserved
    </h6>

  </nav>
</footer>

<!-- Link to JavaScript file -->
<script src="/Script/app.js"></script>
</body>
</html>
